MONGODB_URI=mongodb+srv://hapicakes_user:Elwiz1106!@hapicakes-cluster.cwvvgbp.mongodb.net/hapicakes
CLOUDINARY_CLOUD_NAME=doyeh7kzi
CLOUDINARY_API_KEY=697461559443859
CLOUDINARY_API_SECRET=qzcrR2QwntXtxnJz2gU3ICHH9OI
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password
JWT_SECRET=replace-with-32+chars-random
JWT_EXPIRATION_MS=86400000
JWT_SECURE_COOKIE=false
