server:
  port: 8080

spring:
  devtools:
    restart:
      enabled: false
  mongodb:
    uri: mongodb+srv://hapicakes_user:Elwiz1106!@hapicakes-cluster.cwvvgbp.mongodb.net/hapicakes
  mail:
    host: smtp.gmail.com
    port: 587
    username: your_email@gmail.com
    password: your_app_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
logging:
  level:
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
