server:
  port: 8080

spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/cakehouse
  mail:
    host: smtp.gmail.com
    port: 587
    username: your_email@gmail.com
    password: your_app_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
